.svg {
  margin-right: 5px;
  color: var(--main-bg-color-dark);
  opacity: 0;
}
.rotate {
  animation-duration: 1s;
  animation-name: rotating;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  opacity: 1;
}

.root {
  background-color: white;
}

@keyframes rotating {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

.link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-bg-color-dark);
  text-decoration: none;

  & + & {
    margin-top: 8px;
  }

  & strong {
    color: black;
  }

  &:hover {
    text-decoration: underline;
  }
}

.red {
  color: var(--second-color-normal);
}
.empty {
  text-align: center;
  color: var(--second-color-normal);
}

.input {
  // max-width: 400px;
}
