.root {
  background-color: white;
}

.link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-bg-color-dark);
  text-decoration: none;

  & + & {
    margin-top: 8px;
  }

  & strong {
    color: black;
  }

  &:hover {
    text-decoration: underline;
  }
}

.red {
  color: var(--second-color-normal);
}
.empty {
  text-align: center;
  color: var(--second-color-normal);
}

.input {
  // max-width: 400px;
}
