.title-search-result {
  display: none;
  z-index: 999;
  background: #fff;
  border: 1px solid #f3f3f3;
  padding: 20px;
}
.title-search-result[data-show] {
  display: block;
}

.title-search-result a {
  background: #fff;
  padding: 5px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-search-result a[data-soldout] {
  color: red;
}
.title-search-result a[data-reserved] {
  color: rgb(255, 162, 0);
}

.title-search-result a strong {
  color: black;
}
.search__tabs__container {
  position: relative;
}

.search__tabs__container .empty-result {
  background: #fff;
  padding: 20px;
  border: 1px solid #f3f3f3;
  color: red;
  text-align: center;
  display: none;
}
.search__tabs__container .empty-result[data-show] {
  display: block;
}

#title-search {
  width: 100%;
}

.search__tabs__container .search_loader-anime {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
  width: auto;
}
.search__tabs__container .search_loader-anime[data-loading] {
  display: block;
}

#searchByNumberId_result {
  width: 100%;
}
#searchByNumberId_error,
.title-search-result-container {
  width: 100%;
  position: absolute !important;
  top: calc(100%);
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .search__tabs__container .search_loader-anime {
    margin-top: -16px;
  }
  .search__byOEM .search_tabs {
    height: 155px;
  }

  .search__bySite .search_tabs {
    height: 155px !important;
  }

  .search__tabs__container .search_loader-anime[data-loading] {
    left: 92%;
  }
}
