.fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  position: relative;

  @media screen and (max-width: "767px") {
    & {
      grid-template-columns: auto;
    }
  }
}

.field {
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;

  padding: 2px;

  border-right-width: 0px;
  border-right-style: none;
  border-right-color: currentcolor;
  border-right: 1px solid rgba(121, 121, 121, 0.4);

  @media screen and (max-width: "767px") {
    &:not(:last-child) {
      border-bottom-width: 0px;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
      border-bottom: 1px solid rgba(121, 121, 121, 0.4);
    }
  }

  & > * {
    cursor: pointer;
  }

  & input {
    width: 100%;
    padding-left: 10px;

    text-align: left;
    height: 34px;
    background: #ffffff;
    border-radius: 0;
    overflow: hidden;

    font-weight: 600;
    color: #000000;
    font-size: 15px;
    line-height: 1;

    border: 0;
  }

  & svg {
    position: absolute;
    right: 5px;
  }
}

.grid {
  -moz-columns: 100px auto;
  -webkit-columns: 100px auto;
  columns: 100px auto;
}
