@use '../../styles/breakpoints' as *;

.root {
  position: relative;
  background-color: var(--main-bg-color-light);
  padding: 15px 16px 15px 16px;

  min-height: 40px;
  z-index: 15;

  @include phone {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}
