.field {
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;

  padding: 2px;

  border-right-width: 0px;
  border-right-style: none;
  border-right-color: currentcolor;
  border-right: 1px solid rgba(121, 121, 121, 0.4);

  @media screen and (max-width: "767px") {
    &:not(:last-child) {
      border-bottom-width: 0px;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
      border-bottom: 1px solid rgba(121, 121, 121, 0.4);
    }
  }

  & > * {
    cursor: pointer;
  }

  & svg {
    position: absolute;
    right: 5px;
  }
}

.input {
  width: 100%;
  padding-left: 10px;

  text-align: left;
  height: 34px;
  // background: #ffffff;
  border-radius: 0;
  overflow: hidden;

  font-weight: 600;
  color: #000000;
  font-size: 14px;
  line-height: 1;

  border: 0;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.disabled,
.disabled > input {
  background: var(--main-bg-color-light2);
}

.label {
  padding-left: 10px;
  display: flex;
  align-items: center;

  text-align: left;
  height: 34px;
  border-radius: 0;
  overflow: hidden;

  font-weight: 600;
  color: #000000;
  font-size: 14px;
  line-height: 1;

  border: 0;
}
