.grid {
  -moz-columns: 140px 8;
  -webkit-columns: 140px 8;
  columns: 140px 8;
  @media screen and (max-width: "767px") {
    & {
      -moz-columns: 130px 2;
      -webkit-columns: 130px 2;
      columns: 130px 2;
    }
  }
}

.anchor {
  display: block;
  cursor: pointer;
  padding: 5px;

  &:hover,
  &:focus-visible {
    background-color: var(--main-bg-color-light3);
  }
}

.noElements {
  color: var(--second-color-normal);
  text-align: center;
}
