.grid {
  columns: 135px auto;
}

.anchor {
  display: block;

  page-break-inside: avoid;
  break-inside: avoid;

  cursor: pointer;
  padding: 5px;

  &:hover,
  &:focus-visible {
    background-color: var(--main-bg-color-light3);
  }
}

.noElements {
  color: var(--second-color-normal);
  text-align: center;
}
