.grid {
  -moz-columns: 140px 3;
  -webkit-columns: 140px 3;
  columns: 140px 3;
}

.anchor {
  display: block;
  cursor: pointer;
  padding: 5px;

  &:hover,
  &:focus-visible {
    background-color: var(--main-bg-color-light3);
  }
}

.noElements {
  color: var(--second-color-normal);
  text-align: center;
}
