:root {
  --main-bg-color-dark: #115d5e;
  --main-bg-color: #1d7d7e;
  --main-bg-color-light: #339999;
  --main-bg-color-light2: #dee9eb;
  --main-bg-color-light3: #f5f7fa;
  --second-color-normal: #d32f2f;
  --second-color-light: #ffebee;
  --second-color-dark: #b71c1c;
}
