@use '../../styles/breakpoints' as *;

.tabs {
  position: relative;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;

  gap: 10px;

  @include phone {
    display: block;
    width: 100%;
  }
}

.tablist {
  display: contents;

  @include phone {
    display: flex;
    width: 100%;
  }
}

.tab {
  color: var(--main-bg-color);

  font-family: inherit;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
  line-height: 2;
  padding: 0 22px;
  background: #f4f6f8;
  margin: 0;
  border: 0;

  cursor: pointer;

  @include phone {
    flex: 1;
    padding: 10px;
    text-align: center;
    line-height: normal;
  }
}

.active {
  background-color: var(--main-bg-color-light);
  color: white;
}
.rating {
  position: absolute;
  right: 0;
  height: 100%;
  align-content: center;

  @include phone {
    display: none;
  }
}
