.tabs {
  position: relative;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;

  gap: 10px;
  @media screen and (max-width: "767px") {
    & {
      grid-template-columns: auto auto auto;
      width: 100%;
    }
  }
}

.tab {
  color: var(--main-bg-color);

  font-weight: 600;
  text-align: left;
  font-size: 15px;
  line-height: 2;
  padding: 0 22px;
  background: #f4f6f8;
  margin: 0;

  cursor: pointer;

  @media screen and (max-width: "767px") {
    & {
      padding: 10px;
      text-align: center;

      line-height: normal;
      align-content: center;
    }
  }
}

.active {
  background-color: var(--main-bg-color-light);
  color: white;
}
.rating {
  position: absolute;
  right: 0;
  height: 100%;
  align-content: center;

  @media screen and (max-width: "767px") {
    & {
      display: none;
    }
  }
}
