.input_s {
  outline: 0 !important;
  font-size: 15px !important;
  height: 38px !important;
  padding: 6px 10px 7px !important;
  border: 1px solid #ccc;
  border-radius: 0 !important;

  flex-grow: 1;
}

.input_b {
  outline: 0 !important;
  font-size: 15px !important;
  background: #fff !important;
  color: #000 !important;
  height: 38px !important;
  padding: 6px 15px 7px !important;
  border: 1px solid #cbcbcb;
  margin: 0 0 0 -1px;
  border-radius: 0 3px 3px 0;

  cursor: pointer;
}

.ya-page_js_yes .ya-site-form_inited_no {
  display: none;
}

.ya-site-form__input-text:focus,
.ya-site-form__submit:focus {
  border-color: #d0ba65 !important;
  /* box-shadow: 0 0 10px #fc0 !important; */
}

.root {
  & > form {
    display: flex;
    flex-direction: row;
  }
}
